/* General Rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
}

.container{
    width: 65%;
    margin: 0 auto;
    height: 100%;
}

a{
    text-decoration: none;
}

.btn-white{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 5px 12px;
    
}

/* Header Rules */
header{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 500;
    /* DEBUG */
    background-color: #0084fd;
}

nav{
    height: 60px;
}

nav a{
    color: white;
}

nav > ul{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
}

nav > ul > img{
    height: 55%;
}

nav > ul > div{
    display: none;
    color: white;
    font-size: 25px;
}

nav > ul > ul{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    list-style: none;
}

/* Main Rules */
main{
    padding-top: 75px;
}

/* Cards Rules */
.dashboard{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.dashboard  h4{
    color: #007bfb;
    margin: 20px 0;
}

.dashboard p{
    color: #5a6f80;
    font-weight: 700;
    font-size: 12px;
    line-height: 190%;
    margin-bottom: 30px;
}

.dashboard > .card.big{
    width: calc( (100% / 3) * 2 - 20px);
    min-height: 270px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    text-align: left;
    padding: 0 20px;
}

.dashboard .card.big  a{
    background-color: #0084fd;
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 7px 35px;
    min-width: 20px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

.dashboard .image{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.dashboard .image img{
    width: 180px;
}

.dashboard .card.big .text{
    align-self: flex-start;
    width: 50%;
}

.dashboard > .card{
    width: calc(100% / 3 - 20px);
    min-height: 270px;
    background-color: #b5ddff;
    border-radius: 15px;
    padding: 20px 10px 0px;
    text-align: center;
}

.dashboard  .icon  i{
    color: #0084fd;
    font-size: 65px;
}

/* Planning Rules */
.planning{
    background-color: #9792e4;
    margin-top: 100px;
    /* DEBUG */
    height: 700px;
}

.planning > .container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 50px;
}

.planning .text{
    width: 50%;
    height: 90%;
    /* DEBUG*/
    background-color: coral;
}

.planning .image{
    width: 50%;
    height: 70%;
    /* DEBUG */
    background-color: yellow;
}

/* Testimonials Rules */
.testimonials{
    background-color: orange;
    margin-top: 70px;
    /* DEBUG */
    height: 900px;
}

.testimonials > .text{
    /* DEBUG */
    background-color: red;
    width: 100%;
    height: 20%;
}

.testimonials > .citation{
    width: 100%;
    height: 80%;
    /* DEBUG */
    background-color: brown;
}

.citation > .card{
    width: 100%;
    margin: 30px 0;
    /* DEBUG */
    background-color: blue;
    height: calc(100% / 3 - 30px)
}

/* Benefits Rules */
.benefits{
    background-color: #9792e4;
    margin-top: 70px;
    /* DEBUG */
    min-height: 1000px;
}

.benefits .row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.benefits .text{
    background-color: cyan;
    height: 200px;
    width: 100%;
}

.benefits .card{
    height: 500px;
    width: calc(100% / 3 - 30px);
    /* DEBUG */
    background-color: lime;
    border: 1px solid black;
}

/* About-Us Rules */
.about-us{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    /* DEBUG */
    height: 800px;
}

.about-us > .text{
    flex-basis: 70%;
    height: 100%;
    /* DEBUG */
    background-color: chocolate;
}

.about-us > .image{
    flex-basis: 30%;
    height: 100%;
    /* DEBUG */
    background-color: black;
}

/* Get-Started Rules */
.get-started{
    background-color: #9792e4;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    height: 500px;
}

.get-started > .container{
    width: 40%;
    /* DEBUG */
    height: 80%;
    background-color: green;
}

/* Footer Rules */
footer{
    height: 180px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > .container{
    width: 30%;
    height: 80%;
    /* DEBUG */
    background-color: darkred;
}

/* Tablet Version */
@media screen and (max-width: 850px){
    .container{
        width: 90%;
    }

    nav > ul > ul{
        display: none;
    }
    nav > ul > div{
        display: inline-block;
    }

    .planning > .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .planning > .container > *{
        width: 100%;
        height: 50%;
    }

    .benefits .card{
        width: 47%;
    }

    .about-us > .text{
        flex-basis: 60%;
    }
    .about-us > .image{
        flex-basis: 40%;
    }

    .get-started > .container{
        width: 80%;
    }

    footer > .container{
        width: 60%;
    }
}

@media screen and (max-width: 450px){
    .dashboard > .card, .dashboard > .card.big{
        width: 100%;
    }

    .benefits .card{
        width: 100%;
    }

    .about-us{
        flex-direction: column;
    }
    .about-us > .text, .about-us > .image{
        flex-basis: 100%;
    }
    
    .get-started > .container{
        width: 90%;
    }

    footer > .container{
        width: 90%;
    }
}