/* General Rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
}

.container{
    width: 65%;
    margin: 0 auto;
    height: 100%;
}

a{
    text-decoration: none;
}

.btn-white{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 5px 12px;
    
}

/* Header Rules */
header{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 500;
    background-color: #0084fd;
}

nav{
    height: 60px;
    max-width: 1800px;
    margin: 0 auto;
}

nav a{
    color: white;
}

nav > ul{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
}

nav > ul > a  img{
    width: 80%;
}

nav > ul > div{
    display: none;
    color: white;
    font-size: 25px;
}

nav > ul > ul{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    list-style: none;
}

/* Main Rules */
main{
    padding-top: 75px;
    max-width: 1580px;
    margin: 0 auto;
}

/* Cards Rules */
.dashboard{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 15px;
    flex-wrap: wrap;
}

.dashboard  h4{
    color: #007bfb;
    margin: 20px 0;
}

.dashboard p{
    color: #5a6f80;
    font-weight: 700;
    font-size: 12px;
    line-height: 190%;
    margin-bottom: 30px;
}

.dashboard > .card.big{
    width: calc((100% / 3) * 2 - 15px);
    min-height: 270px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    text-align: left;
    padding: 0 20px;
}

.dashboard .card.big  a{
    background-color: #0084fd;
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 7px 35px;
    min-width: 20px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

.dashboard .image{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.dashboard .image img{
    width: 180px;
}

.dashboard .card.big .text{
    align-self: flex-start;
    width: 50%;
}

.dashboard > .card{
    width: calc(100% / 3 - 15px);
    min-height: 270px;
    background-color: #b5ddff;
    border-radius: 15px;
    padding: 20px 10px 0px;
    text-align: center;
}

.dashboard  .icon  i{
    color: #0084fd;
    font-size: 65px;
}

/* Planning Rules */
.planning{
    background-color: #9792e4;
    margin-top: 100px;
    min-height: 700px;
}

.planning > .container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.planning h2{
    color: white;
    margin: 70px 0 40px;
}

.planning h3{
    font-size: 18px;
}

.planning .text{
    width: 55%;
    padding: 0 35px;
    line-height: 150%;
}

.planning .text p{
    color: white;
    font-size: 12px; 
}

.planning .text img{
    width: 90%;
}

.planning .image{
    width: 45%;
    min-height: 50%;
    background-color: white;
    text-align: center;
    padding: 20px 25px;
    border-radius: 40px;
    align-self: flex-end;
    margin-bottom: 50px;
}

.planning .image p{
    font-weight: 300;
    font-size: 13px;
    margin: 10px 0;
    line-height: 170%;
}

.planning .image img{
    width: 70%;
}

.planning .image a{
    background-color: #9792e4;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 100%;
    display: inline-block;
    margin: 20px 0;
}

/* Testimonials Rules */
.testimonials{
    margin-top: 70px;
    min-height: 900px;
}

.testimonials > .text{
    width: 100%;
    min-height: 180px;
    text-align: center;
}

.testimonials h5{
    font-weight: 300;
}

.testimonials h2{
    color: #9792e4;
    font-size: 35px;
    margin: 10px 0 20px;
}

.testimonials p{
    font-weight: 300;
    font-size: 15px;
}

.testimonials > .citation{
    width: 100%;
    min-height: 720px
}

.citation > .card{
    width: 100%;
    margin: 30px 0;
    background-color: #9792e4;
    min-height: 200px;
    border-radius: 30px;
    padding: 20px 0;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;}

.citation .circle-image{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.citation .image{
    margin-left: 20px;
}

.circle-image.one{
    background-image: url("../img/testimonial1.jpg");
}

.circle-image.two{
    background-image: url("../img/testimonial2.jpg");
}

.circle-image.three{
    background-image: url("../img/testimonial3.jpg");
}

.citation .words{
    width: 80%;
    padding: 0 40px;
}

.citation .comment{
    font-size: 15px;
    line-height: 200%;
}

.citation .comment i{
    font-size: 21px;
}

.citation .name{
    font-weight: 700;
    font-size: 15px;
    margin-top: 15px;
}

/* Benefits Rules */
.benefits{
    background-color: #9792e4;
    margin-top: 30px;
    min-height: 800px;
    padding-bottom: 50px;
}

.benefits .row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.benefits h2{
    font-size: 35px;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.benefits .card{
    width: calc(100% / 3 - 20px);
    color: #9792e4;
    background-color: white;
    border-radius: 20px;
    padding: 20px 40px 30px;
    font-size: 18px;
}

.benefits .big-num{
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
}

.benefits p{
    color: gray;
    font-size: 12px;
    line-height: 180%;
    margin: 20px 0;
}

.benefits a{
    background-color: #9792e4;
    color: white;
    padding: 8px 40px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
}

/* About-Us Rules */
.about-us{
    margin-top: 50px;
    width: 55%;
    min-height: 800px;
    display: flex;
    justify-content: center;
}

.about-us > .text{
    flex-basis: 80%;
    padding-right: 90px;
}

.about-us .text h2{
    font-size: 50px;
    color: #9792e4;
}

.about-us .text p{
    font-size: 15px;
    line-height: 250%;
    font-weight: lighter;
}

.about-us .text #paragraph-1{
    margin: 30px 0;
}

.about-us > .image{
    flex-basis: 20%;
}

.about-us .circle-image{
    background-image: url("../img/about.jpg");
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
}

.about-us .circle-image > i{
    color: #9792e4;
    font-size: 60px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.about-us .image .text{
    color: #9792e4;
    font-weight: bold;
    font-size: 21px;
    margin: 20px 0;
}

.about-us .image a{
    background-color: #9792e4;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 300;
}

/* Get-Started Rules */
.get-started{
    background-color: #9792e4;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    height: 500px;
}

.get-started > .container{
    width: 40%;
    /* DEBUG */
    height: 80%;
    background-color: green;
}

/* Footer Rules */
footer{
    height: 180px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > .container{
    width: 30%;
    height: 80%;
    max-width: 1500px;
    8argin: 0 auto;
    /* DEBUG */
    background-color: darkred;
}

/* Tablet Version */
@media screen and (max-width: 850px){
    .container{
        width: 90%;
    }

    nav > ul > ul{
        display: none;
    }
    nav > ul > div{
        display: inline-block;
    }

    .dashboard .card.big .text{
        width: 100%;
        height: 30%;
    }
    .dashboard .image{
        width: 100%;
        height: 70%;
        justify-content: flex-start;
    }

    .planning > .container{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }
    .planning .text{
        padding: 0;
    }
    .planning .text p{
        line-height: 150%;
        margin-bottom: 20px;
        font-size: 15px;
    }

    .planning > .container > *{
        width: 100%;
        height: 50%;
    }

    .testimonials .citation .image .circle-image{
        width: 160px;
        height: 160px;
    }
    .testimonials .citation .words{
        padding: 0 20px;
    }


    .benefits .card{
        width: 47%;
    }

    .about-us > .text{
        flex-basis: 60%;
        padding-right: 40px;
        font-weight: 600;
    }
    .about-us > .text p{
        font-size: 16px;
    }
    .about-us > .text h2{
        font-size: 58px;
    }
    .about-us > .image{
        flex-basis: 40%;
        padding-left: 40px;
    }
    .about-us > .image .text{
        font-size: 25px;
    }
    .about-us > .image .circle-image{
        width: 230px;
        height: 230px;
    }
    .about-us > .image a{
        font-size: 16px;
    }

    .get-started > .container{
        width: 80%;
    }

    footer > .container{
        width: 60%;
    }
}

@media screen and (max-width: 480px){
    .dashboard > .card{
        width: 100%;
    }
    .dashboard > .card.big{
        padding-top: 70px;
        width: 100%;
    }
    .dashboard .card.big .image{
        display: flex;
        justify-content: center;
    }
    .dashboard .card.big .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dashboard .card.big h4{
        font-size: 23px;
        font-weight: 700;
    }

    .planning .text h2{
        font-size: 30px;
    }

    .testimonials .card .image{
        width: 160px;
        height: 160px;
        margin: 0 0 20px;
    }
    .testimonials .card{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .testimonials .citation .words{
        padding: 0px 0px;
    }

    .benefits .card{
        width: 100%;
        padding: 20px 30px 30px;
    }
    .benefits .card p{
        font-size: 14px;
    }

    .about-us{
        flex-direction: column;
    }
    .about-us > .text, .about-us > .image{
        flex-basis: 100%;
    }
    .about-us > .text h2{
        font-size: 40px;
    }
    .about-us > .text{
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .about-us .image{
        padding: 0 10px;
    }
    .about-us > .image .circle-image{
        width: 180px;
        height: 180px;
    }
    
    .get-started > .container{
        width: 90%;
    }

    footer > .container{
        width: 90%;
    }
}